$background-color: radial-gradient(circle, rgba(31,55,86,1) 20%, rgba(20,21,57,1) 88%);
$scoreText:hsl(229, 25%, 31%);
$scissor: linear-gradient(85deg, rgba(236,158,14,1) 12%, rgba(236,169,34,1) 78%);
$paper: linear-gradient(85deg, rgba(72,101,244,1) 12%, rgba(86,113,245,1) 78%);
$rock: linear-gradient(85deg, rgba(220,46,78,1) 12%, rgba(221,64,93,1) 78%);
$white: #fff;
$black: #000;